@font-face {
  font-family: "jim";
  src: url("JimNightshade-Regular.ttf")
}
@font-face {
  font-family: "jer";
  src: url("Jersey25-Regular.ttf")
}
@font-face {
  font-family: "int";
  src: url("Inter-VariableFont_opsz\,wght.ttf")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #844444;
  font-family: sans-serif;
  color: white;
}

header {
  background-color: #703535;
  padding: 10px 20px;
  width:1920px;
  position: fixed;
}

header h1 {
  font-family:"jer";
  font-size: 24px;
}

.container {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
}

.left {
  max-width: 500px;
   padding-top: 20px;
  padding-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 50px;
}

.image-grid img {
  width: 100%;
  height: 220px;   
  object-fit: cover;
  border-radius: 1px;
}


.right {
  position: fixed;
  flex: 1;
  padding-left: 850px;
  padding-top: 50px;
  text-align: center;
}

.title-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.kanji-wrapper {
  position: relative;
  display: flex;
  gap: 60px;
}

.kanji-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanji {
  font-size: 200px;
  line-height: 1;
}

.roman {
 font-family:"jim";
  font-size: 20px;
  font-style: italic;
  margin-top: 4px;
}

.header-label {
  position: absolute;
  font-family:"int";
  top: -10px;
  right: 0px;
  font-size: 24px;
  color: white;
}

.hand {
  position: fixed;
  bottom: -300px;
  right: 340px;
  width: 50%; 
  transform: rotate(-10deg); 
}

.eye {
  position: fixed;
  top: 270px;
  right: 340px;
  width: 20%;
  transform: rotate(8deg);
}
.right-inner {
  position: relative;
}

.caption-fixed {
  font-family:"int";
  position: fixed;
  text-align: left;
  top: 375px;
  left: 925px;
  font-size: 14px;
  color: white;
  line-height: 1.6;
}

.binary {
  font-size: 10px;
  font-family: monospace;
  margin-top: 2px;
  color: #ddd;
  text-align: center;
  line-height: 1.4;
}
.roman-line {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  margin-top: 8px;
}

.binary-line {
  text-align: center;
  font-size: 10px;
  font-family: monospace;
  margin-top: 4px;
  color: #ddd;
}


.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family:"jer";
  font-size: 180px;
  position: relative;
  padding-left: 400px;
}
